@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

/* prettier ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1c2127;
  color: white;
  font-family: "Titillium Web", sans-serif;
}
